#top {
    background: url(../img/1315732.png);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin: 0px;
    border: 0px;
}

#goTop {
    background-color: transparent;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#imgTop {
    width: 50px;
}

#index {
    background-color: transparent;
    top: 30px;
    left: 30px;
}

#indexLogo {
    width: 400px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btnTop {
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    background-color: rgb(74, 215, 158);
    width: 300px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
    margin:50px 50px 0 50px;
}

.btnTop:hover {
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    background-color: rgb(74, 215, 158);
    width: 300px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
    margin:40px 50px 0 50px;
}

a {
    text-decoration: none;
}

.btnImg1 {
    border-radius: 20px;
    width: 200px;
    line-height: 70px;
    border-radius: 50px;
    padding: 0 100px 0 100px;
    visibility: hidden;
}
.btnImg2 {
    border-radius: 20px;
    width: 200px;
    line-height: 70px;
    border-radius: 50px;
    padding: 0 100px 0 100px;
    visibility: hidden;
}
.btnImg3 {
    border-radius: 20px;
    width: 200px;
    line-height: 70px;
    border-radius: 50px;
    padding: 0 100px 0 100px;
    visibility: hidden;
}
.btnImg4 {
    border-radius: 20px;
    width: 200px;
    line-height: 70px;
    border-radius: 50px;
    padding: 0 100px 0 100px;
    visibility: hidden;
}
#line{
    width: 100%;
    height: 1px;
    margin: 3rem;
    background: linear-gradient(90deg, rgba(235, 235, 235, 0.274) 0%, rgba(92, 91, 91, 0.322) 50%, rgba(235, 235, 235, 0.274) 100%);
}